<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedDomains</key>
	<array>
		<string>applinks:fgtracker.in</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>FG Tracker</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FG Tracker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7013391106295172~2638665531</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Need camera access for video calls</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location is continuously shared with your group for accurate real-time tracking, even when the app is in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is used to keep group members updated even when the app is in the background during a tracking session.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to share your real-time position with group members on the map during active tracking sessions.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for audio calls</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to allow you to set a profile image and upload photos of your site location.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
		<string>audio</string>
	    <string>voip</string>
        <string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.apple.voip.refresh</string>
        <string>com.apple.callkit.call</string>
    </array>


</dict>
</plist>
